@import '../../../styles/variables.scss';
.header{
    width: 100%;
    height: fit-content;
    padding: 32px 0 24px 0;
}
.buttonCliente{
    background-color: var(--theme-primary);
    color: $theme-primary;
    border: 1px solid $theme-primary;
    padding: 4px 16px;
    border-radius: 4px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    &:hover{
        color: white;
        background-color: $theme-primary;
    }
}

