$font-primary: 'Roboto', sans-serif;
$theme-primary: #1976D2;
$theme-secondary: #5FA0E1;
$theme-dark-color: #27415C;
$input-background: #f3f5f7;
$disabled-input: #f2f2f2;
$theme-color-3: #1A7BDB;
